@import '../base/variables';

//Global styling
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    line-height: 1.3;
    font-family: Arial, sans-serif;
  }

  body{
    overflow-x: hidden;
  }
  
  h1 {
    font-size: $h1;
  }
  h2 {
    font-size: $h2;
  }
  h3 {
    font-size: $h3;
  }
  h4{
    font-size: $h4;
  }
  h5 {
    font-size: $h5;
  }
  h6 {
    font-size: $h6;
  }  

  //Inputs
  label {
    display: block;
  }
  input {
    padding: 1rem;
    color: $black;
    background: $white;
    box-sizing: border-box;
    border: none;
    font-size: 1.8rem;
    &:focus{
      border: 1px solid $black;
      outline: none;
    }
  }
  select{
    background-color: white;
    color: black;
    outline: none;
    border: 3px solid black;
    border-radius: 0%;
    width: 200px;
    height: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    option{
        padding: 1rem 2rem;
        font-weight: 800;
        width: 100%;
    }
  }

  //Buttons
  .btn{
    padding: 1rem 2.5rem;
    font-size: $h4;
    &.primary{
      transition: $transition;
      background: $black;
      color: $white;
      border: 3px solid $black;
      &:hover{
        background: $white;
        color: $black;
        cursor: pointer;
        a{
          color: $black;
        }
      }
    }
  }

  
  //media querries
  @media only screen and (max-width: 768px) {
    html {
      font-size: 52.25%;
    }
  }