@import '../../styles/functions/mixins';

.games-navbar{
  @include flex(row, space-between, center);
  height: 10vh;
  width: 100%;
  padding: 0 5rem;
}

.games-section{
  min-height: 90vh;
  width: 100%;
  @include flex(row, center, center);
  padding: 5rem;
}